GROQ_API_KEY=gsk_GP2CbH63NwjlOup8NwJcWGdyb3FYNeSEAlylNl8XTY28cHeGesK
SUPABASE_URL=https://dmmyftbbdnqevjbunwwp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRtbXlmdGJiZG5xZXZqYnVud3dwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzkyMTMwNTEsImV4cCI6MjA5NDc4OTA1MX0.tISFfoFe4l4t8Bm-LUE1hKWDsg9oGEk-T8ck4ApTBC